<div class="bs-component">
  <nav class="navbar navbar-dark bg-primary">
      <a class="navbar-brand" routerLink="/" routerLinkActive="active">Pokemon app</a>
      <ng-container *ngIf="(user.id)">
        <div class="navbar-nav links">
          <a class="nav-link" routerLink="/profile">Trainer Profile</a>
          <a class="nav-link" href="/catalogue">Pokemon Catalogue</a>
        </div>
          <form class="d-flex" role="search">
            <button (click)="logout()" class="btn btn-secondary my-2 my-sm-0" type="submit">Log out</button>
          </form>
      </ng-container>
  </nav>

</div>