<ng-container>

  <div>
    <h3>Welcome {{(user | async)?.username}} </h3>
    <div class="list-group" *ngIf="!(user | async)?.pokemon?.length">
      <a class="list-group-item list-group-item-action active">
        You Havent Capured any pokemons yet...🤏😂
      </a>
    </div>

    <div class="list-group pokemon-list-card" *ngIf="(user | async)?.pokemon?.length">
      <form>
        <a class="list-group-item list-group-item-action active">Captured pokemons 🐿🦎🐊🐢🐘🐐</a>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let pokemon of pokemons">
                <td class="list-group-item list-group-item-action pokemon-list-item">
                  <img [src]="pokemon.picture" width="50px" alt="picture">
                  {{ pokemon.name }}
                  <button (click)="handleUnfavouriteClick(pokemon.name)" class="btn btn-sm remove-favourite-button">💔</button>
                </td>    
              </tr>
          </tbody>
        </table>


      </form>

    </div>

  </div>

</ng-container>