.pokemon-list-card {
  padding: 1rem;
}
.pokemon-list-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pokemon-info-item{
  display: flex;
  align-items: center;
}

.remove-favourite-button {
  float: right;
  margin-top: 10px;
  background-color: rgb(228, 51, 81);

  box-shadow: 1px 1px 4px black;
  border-style: none;
}
.remove-favourite-button:hover {
  background-color: white;
  transition: 0.3s;
}
